:root {
  --button-background: rgb(63, 95, 170);
  --button-hover-background: rgb(137, 155, 197);
}

.button {
  position: absolute;
  bottom: 1rem;
  left: 5%;
  padding: 20px 20px; border-radius: 8px;
  background: var(--button-background);
  color: #fff;
  transition: .3s;
  cursor: pointer;
  width: 90%;
  margin: 0 auto;


  .label-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      text-align: center;
    }
  
    .label {
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.button:hover {
  background: var(--button-hover-background);
}