:root {
  --body-font: 'Raleway', sans-serif;
}

.input {
  margin-bottom: 10px;

  input {
    font-family: var(--body-font);
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 0 0 5px;
    margin: .5rem 0;
    width: 100%;
    font-size: 16px;
    color: rgb(27, 26, 26);
  }

  input:focus {
    outline: none;
  }

  span {
    font-size: 14px;
    color: grey;
  }
}