.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .7);
  width: 100%;
  height: 100%;
  z-index: 1000000;



  .button {
    border-radius: 0;
  }

  %modal-content {
    background: #fff;
    width: 40%;
    position: absolute;
    top: 10vh;
    left: 30%;
    border-radius: 10px;
    transition: all;
    z-index: 100000001;
  }

  .description-modal {
    @extend %modal-content;
    animation: slideDown .3s ease-out forwards;

    .description {
      margin: 10px auto;
      width: 90%;
      line-height: 1.3rem;
    }
  }

  .form-content {
    @extend %modal-content;
    top: 5vh;
    padding: 20px 20px;
    animation: zoomOut .3s ease-out forwards;

    .loading-container {
      display: flex; justify-content: center;
      margin-bottom: 20px;
    }

    .button { border-radius: 5px; }
    .error-message {
      color: red; margin: 5px 0;
    }
  }

  .success-modal {
    @extend %modal-content;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    width: 30%; left: 35%;
    top: 20vh;
    padding: 10px 0;
    animation: zoomOut .3s ease-out forwards;

    h1 { margin-top: 0};
  }


  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-200%);
    }

    60% {
      opacity: 0;
    }
  
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes zoomOut {
    0% {
      opacity: 0;
      transform: scale(0.1);
    }
  
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}


.children-show {
  animation: childrenShow .3s ease-in forwards;
}

.children-hide {
  animation: childrenHide .3s ease-out forwards;
}

@keyframes childrenShow {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }


  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes childrenHide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

