.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .7);
  width: 100%;
  height: 100%;
  z-index: 1000000;



  .button {
    border-radius: 0;
  }


  .success-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: successModalShow .3s ease-out forwards;
    padding: 20px 0;

    h1 {
      text-align: center; margin-top: 0;
    }
  }

  @keyframes successModalShow {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }

    60% {
      opacity: 0;
    }
  
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

  .children {
    background: #fff;
    width: 90%;
    height:80%;
    max-width: 600px;
    position: relative;
    margin: auto;
    top: 5%;
    border-radius: 10px;
    transition: all;
  }


.children-show {
  animation: childrenShow .3s ease-in forwards;
}

.children-hide {
  animation: childrenHide .3s ease-out forwards;
}

@keyframes childrenShow {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }


  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes childrenHide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

