/* Fonts */
/* colors */
/* Media */
/* Transitions */
@import url(~hamburgers/dist/hamburgers.css);
.gigle-mobile-only {
  display: none; }
  @media (max-width: 767px) {
    .gigle-mobile-only {
      display: block; } }

.gigle-centered {
  display: flex;
  justify-content: center;
  align-items: center; }

.gigle-header-container-top {
  position: relative;
  width: 100%;
  z-index: 1000000;
}

.gigle-header-container {
  position: relative;
  width: 100%;
  background: #fff;
  z-index: 1000000; 
  top: 0; left: 0;
}

.gigle-header {
  position: relative;
  width: 100%;
  height: 5rem;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1rem;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  z-index: 2; }

.gigle-header-underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: white; */
  z-index: 1; }

.gigle-header-left {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center; }

.gigle-header-menuIcon-mobile {
  display: inline-block;
  color: #86b554;
  z-index: 3; }
  @media (min-width: 768px) {
    .gigle-header-menuIcon-mobile {
      display: none; } }

.gigle-header-rightMenu {
  /* color: #fff; */
  display: none;
  flex-direction: column;
  position: absolute;
  /* background: white; */
  z-index: 4; }
  @media (min-width: 768px) {
    .gigle-header-rightMenu {
      display: flex;
      position: relative;
      flex-direction: row;
      transform: translateY(0%); } }

.gigle-header-leftMenu {
  /* color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 767px) {
    .gigle-header-leftMenu {
      display: none; } }

.gigle-header-mobileMenu {
  position: absolute;
  display: none;
  transition: transform 0.3s ease; }
  @media (max-width: 767px) {
    .gigle-header-mobileMenu {
      display: flex;
      flex-direction: column;
      right: 0;
      bottom: 0;
      transform: translateY(0%);
      z-index: 0;
      padding: 1rem;
      border: 1px solid #cccccc;
      background: white; }
      .gigle-header-mobileMenu.active {
        transform: translateY(100%); } }

.gigle-header-subMenu {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-1%);
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  color: white;
  font-weight: 400;
  background: #86b554;
  transition: all .3s ease; }
  .gigle-header-subMenu.active {
    transform: translateY(100%);
    opacity: 1; }
  @media (max-width: 767px) {
    .gigle-header-subMenu {
      display: none; } }

.gigle-header-rightMenu-item {
  padding: .5rem 1rem;
  margin: .5rem;
  /* border: 1px solid #cccccc; */
  cursor: pointer;
  transition: all 0.3s ease; }
  @media (max-width: 767px) {
    .gigle-header-rightMenu-item {
      padding: 1rem 2rem;
      font-size: 1.5rem; } }
  .gigle-header-rightMenu-item:hover {
    border: 1px #86b554 solid;
    -webkit-box-shadow: inset 0px 0px 0px 1px #86b554;
    -moz-box-shadow: inset 0px 0px 0px 1px #86b554;
    box-shadow: inset 0px 0px 0px 1px #86b554; }

    .gigle-header-leftMenu-item-top {
      color: black;
    }
.gigle-header-leftMenu-item {
  padding: .1rem 1rem;
  cursor: pointer;
  font-weight: 200;
  font-size: 1.3rem;
  transition: all 0.3s ease; }
  @media (max-width: 767px) {
    .gigle-header-leftMenu-item {
      padding: 1rem 2rem;
      font-size: 1.5rem; } }
  @media (min-width: 768px) {
    .gigle-header-leftMenu-item {
      border-right: 1px solid #cccccc; }
      .gigle-header-leftMenu-item:hover {
        font-weight: bold; }
      .gigle-header-leftMenu-item:last-child {
        border-right: none; } }

.gigle-header-leftMenu-itemIcon {
  font-size: 1rem;
  padding: .2rem;
  color: #86b554; }

.gigle-logo {
  height: 30px;
  margin-top: -.2rem;
  padding: 0 1rem;
  cursor: pointer; }
