:root {
  --body-font: 'Raleway', sans-serif;

}

 html, body, div { margin: 0; padding: 0;}

.bg {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	background: #333333;
}

.App {
	width:96%;
	max-width:1200px;
	margin: 0 auto;
	background: white;
}

.snackbar {
  z-index: 10000000 !important;

  .snackbar-message {
    font-family: var(--body-font) !important;
    font-size: 18px;
  }
}


