:root {
  --intro-gradient: linear-gradient(
    rgba(245, 241, 241, 0.3),
    rgba(231, 220, 220, 0.7)
  );
}

.intro-container {
  position: absolute; top: 0; left: 0;
  height: 100vh;
  width: 100%; 
  display: block;
  display: flex; flex-direction: column;
  justify-content: flex-end; align-items: center;
  z-index: 1000;

  background: 
    // var(--intro-gradient),
    url('../../images/intro_desktop.jpg');
  background-size: cover;
  background-position: center;

  h1 {
    color: #fff;
    margin: 15px auto;
    font-size: 45px;
    text-align: center;
  }

  .see-more-button {
    color: #fff;
    display: flex; justify-content: center; align-items: center;
    cursor: pointer;
    transition: transform .3s;

    span {
      font-size: 25px; font-weight: 600;
      margin-left: 5px;
    }
  }

  .see-more-button:hover {
    transform: scale(1.2);
    color: rgb(240, 232, 232);
  }


  .button-group {
    width: 70%;
    margin: 40px auto;
    display: flex; 
    justify-content: center;
  
    .button {
      margin: 0 20px;
    }
  }
}