@import './Components/App.scss';
@import './Components/Modal/Modal.scss';
@import './Components/LocationSearch/SearchInput.scss';
@import './Components/Intro/Intro.scss';
@import './Components/Input/Input.scss';
@import './Components/Button/Button.scss';
@import './Components/Form/Form.scss';
@import './Components/HostSignUp/HostSignUp.scss';
@import './Components/Header/Header.scss';
@import './Components/Footer/Footer.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

 
 
 